{
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
body {
	width:auto;
	margin: auto;
}
header {
	background-color: #222C4B;
	height: 20%;
	width: 100%;
}

img 
	{
	width: 20%;
	
	}
footer {
	background-color: #222C4B;
	width: 100%;
	height: 20%;
	float: left;
	display: block;
	min-height: 100vh;
}
article id .mainartikel
{
	display: block;
	text-align:center;
	width:30%;
	
}


