{
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
body {
	width: auto;
	margin: auto;
}
header  
{
	background-color: #222C4B;
	height: 20%;
	width: 100%;
}

img 
	{
	width: 20%;
	
	}
footer {
	background-color: #222C4B;
	width: 100%;
	height: 20%;
	min-height: 100vh;
	
}
#mainartikel {
	display: block;
	text-align: center;
	width: 30%;
	background-color: #F0F0F0;
}


