{
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
body {
	width: auto;
	margin: auto;
}
header  
{
	background-color: #222C4B;
	height: 20%;
	width: 100%;
}

img 
	{
	width: 20%;
	padding:10px;
	}
footer {
	background-color: #222C4B;
	width: 100%;
	height: 20%;
	padding: 5px;
	
}
#mainartikel {
	display: block;
	text-align: center;
	width: 50%;
	background-color: #F0F0F0;
    margin-left: 25%;
	margin-bottom: 15px;
	margin-top : 15px;
	padding: 20px;
}
#contactinfo p {
	margin: 0;
	color: white;
}

#text {
	padding: 5px;
	font-family: 'Segoe UI';
}
nav 
{
	float: right;
	padding: 10px;

}
a.nav {
	color: white;
	text-decoration: none;
}
h3{
	font-weight:400;
}
h2{
	font-weight:700;
}