{
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
body {
	width: auto;
	margin: auto;
}
header  
{
	background-color: #222C4B;
	height: 20%;
	width: 100%;
}

img 
	{
	width: 20%;
	padding:10px;
	}
footer {
	background-color: #222C4B;
	width: 100%;
	height: 20%;
	padding: 5px;
	float:left;
	
}
#mainartikel {
	display: block;
	text-align: center;
	width: 30%;
	background-color: #F0F0F0;
    margin-left: 35%;
	margin-bottom: 10px;
	margin-top : 10px;
}
#contactinfo p {
	margin: 0;
	color: white;
}
#text {
	padding: 5px;
	font-family: 'Segoe UI';
}


